<div class="content-wrap">

    <div class="container clearfix">

      <!-- Posts
      ============================================= -->
      <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">

        <% @posts.each do |post| %>
          <div class="entry clearfix">
            <div class="entry-image">
              <%= link_to noticia_path(post) do %>
              <!--<a href="images/blog/full/17.jpg" data-lightbox="image">-->
                <img class="image_fade" src="<%= post.image %>" alt="Standard Post with Image">
              <!--</a>-->
              <% end %>
            </div>
            <div class="entry-title">
              <h2>
                <%= link_to noticia_path(post) do %>
                  <%= post.name %>
                <% end %>
              </h2>
            </div>
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i><%= post.created_at %></li>
              <li>
                <% if  post.categorizations.last %>
                  <%= link_to categoria_path(post.categorizations.last) do %>
                    <%= post.categorizations.last ? post.categorizations.last.category.name : 'Sin categoria' %>
                  <% end %>
                <% else %>
                  Sin categoria
                <% end %>
              </li>
            </ul>
            <div class="entry-content">
              <%= post.body.html_safe %>...
              <br>  
              <!--<a href="blog-single.html"class="more-link">Read More</a>-->
              <%= link_to 'Leer Mas', noticia_path(post) %>
            </div>
          </div>
        <% end %>
        
        <!--
        <div class="entry clearfix">
          <div class="entry-image">
            <iframe src="http://player.vimeo.com/video/87701971" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="entry-title">
            <h2><a href="blog-single-full.html">This is a Standard post with a Vimeo Video</a></h2>
          </div>
          <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"></i> 16th Feb 2014</li>
            <li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>
            <li><a href="#"><i class="icon-film"></i></a></li>
          </ul>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
            <a href="blog-single-full.html"class="more-link">Read More</a>
          </div>
        </div>

        <div class="entry clearfix">
          <div class="entry-image">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="entry-title">
            <h2><a href="blog-single-full.html">This is a Standard post with a Youtube Video</a></h2>
          </div>
          <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"></i> 30th Apr 2014</li>
            <li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 34</a></li>
            <li><a href="#"><i class="icon-film"></i></a></li>
          </ul>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
            <a href="blog-single-full.html"class="more-link">Read More</a>
          </div>
        </div>
        -->
      </div><!-- #posts end -->

      <!-- Pagination
      ============================================= -->
      <div class="row mb-3">
        <div class="col-12">
          <a href="#" class="btn btn-outline-secondary float-left">&larr; Older</a>
          <a href="#" class="btn btn-outline-dark float-right">Newer &rarr;</a>
        </div>
      </div>
      <!-- .pager end -->

    </div>

  </div>
