<div class="clearfix swiper_wrapper" style="background: #444; height: 1250px" >  

    <div class="container clearfix">                
        <div class="divcenter topmargin-lg" style="max-width: 800px;">
            <center><h1 style="color: white;"><%= @post.name %></h1></center>
            <% if @post.url.include?('http://www.cliver.tv') %>
                <p id="p1" hidden><%= @post.video %></p>
                <center><button onclick="copyToClipboard('#p1')" class="button button-rounded t400 ls1 track-list clearfix">Si no pueder ver el contenido copia el link</button><center>
            <% end %>
            
            <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                <iframe frameborder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" src="<%= @post.video %>"> width="100%" height="100%" autoplay src="<%= @post.video %>"></iframe>
            </div>
        </div>    
        <center><p class="muted" style="margin-top: 10px; color: #999;"><%= @post.body %></p></center>
    </div>
    

    <div class="heading-block bottommargin-sm topmargin noborder dark">
        <center><h3>Relacionadas</h3></center>
        <hr>
    </div>

    <div id="top-charts" class="portfolio grid-container portfolio-6 dark clearfix">

        <% @posts.each do |post| %>
            <% if post != @post %>
            <article class="portfolio-item" data-animate="fadeIn" data-delay="700" width="200" height="280">
                <div class="portfolio-image" width="200" height="280">
                    <a href="#">
                        <img src="<%= post.image %>" alt="" style="width: 173px; height: 240px;" >
                        <!--style="width: 173; height: 240;"-->
                    </a>
                    <div class="portfolio-overlay">
                        <!--
                            <a href="#" class="left-icon"><i class="icon-line-folder"></i></a>
                            <a href="#" class="right-icon"><i class="icon-line-share"></i></a>
                        -->
                        <%= link_to video_path(post), class: 'play-icon track-list center-icon', 'data-title'=>"#{post.name}", 'data-singer'=>"#{post.name}" do %>
                            <i class="icon-play"></i>
                        <% end %>

                        <%= post.name %>
                    
                    </div>
                </div>
                <div class="portfolio-desc">
                    <h3><%= link_to post.name.truncate(22), video_path(post) %></h3>
                    <!--<span><a href="#">Categoria</a></span>-->
                </div>
            </article>
            <% end %>
            <h1><% @posts.count <= 5 %></h1>

        <% end %>

    </div>
        
</div>

<script>
    function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}
</script>
<!--
<input type="text" value="<%= @post.video[0..37] %>" id="myInput">
<button onclick="myFunction()">Copy text</button>
<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        document.execCommand("Copy");
    }
</script>
-->