<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :post_image %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :post_url %>
  </div>

  <div class="field">
    <%= form.label :sources %>
    <%= form.text_field :sources, id: :post_sources %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video, id: :post_video %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover, id: :post_cover %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :post_state %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :post_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
