<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body.html_safe %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Sources:</strong>
  <%= @post.sources %>
</p>

<p>
  <strong>Video:</strong>
  <%= @post.video %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @post.cover %>
</p>

<p>
  <strong>State:</strong>
  <%= @post.state %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.categories %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
