<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Peliculas28" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:200,300,400,400i,600,700|Montserrat:300,400,700|Caveat+Brush" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />

	<!-- Music Specific Stylesheet -->
	<link rel="stylesheet" href="/music/music.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/et-line.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/music/css/fonts.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="/css/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Audio Player Plugin CSS -->
	<link rel="stylesheet" href="/music/css/mediaelement/mediaelementplayer.css">

	<% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= csrf_meta_tags %>
    <% javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- Document Title
	============================================= -->
	<title>Peliculas28 | Peliculas en estrenos | Series | Scraping</title>

	<style>
		@media (max-width: 479px) {
			.swiper_wrapper:not(.force-full-screen),
			.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
				height: 300px !important;
			}
		}

		.css3-spinner { background-color: #131722; }
	</style>

</head>

<body class="stretched bgcolor2" data-loader="4" data-loader-color="theme">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix" style="margin-bottom: 0px">
		<%= render 'layouts/render/header'%>
		<% if action_name.eql?('index') %>
			<%= render 'layouts/render/slider'%>
		<% end %>		
		<%= yield %>

		<%= render 'layouts/render/footer'%>
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up" style="bottom: 70px;"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>
</body>
</html>